Flask==0.9
Flask-DebugToolbar==0.8.0
Flask-OAuth==0.12
Flask-SQLAlchemy==0.16
Flask-StatHat==0.0.3
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.1
Werkzeug==0.8.3
blinker==1.2
distribute==0.6.45
fitbit==0.0.2
gunicorn==0.17.4
httplib2==0.8
itsdangerous==0.21
oauth2==1.5.211
psycopg2==2.5
python-dateutil==1.5
requests==0.14.0
stathat==0.0.2
wsgiref==0.1.2
