{% extends "base.html" %}
{% set active_page = "about" %}
{% block about %}

<div class="row-fluid">
  <div class="span12">

    <p class="lead">About Flipboard</p>
    <div class="well">


    <dl class="dl-horizontal">
      <dt>Contact</dt>
      <dd>Sure! Let me know what you like and what's bugging you

      <ul class="icons-ul">
        <li><i class="icon icon-twitter"></i><a href="http://twitter.com/ctaloi" class="href"> Twitter</a></li>
        <li><i class="icon-github"></i><a href="http://ctaloi.github.io/Fitboard/" class="href"> Github</a></li>
        <li><i class="icon icon-envelope"></i><a href="mailto:ctaloi@gmail.com " class="href"> Email</a></li>
      </ul>
    </dd>

      <dt>What is Fitbit?</dt>
      <dd>The Fitbit Tracker is a wireless-enabled wearable device that measures data such as the number of steps walked, quality of sleep, and other personal metrics.  Fitbit is a registered trademark and service mark of <a href="http://fitbit.com" class="href"> Fitbit, Inc</a>
      </dd><p></p>

      <dt>What is Status Board</dt>
      <dd>Status Board is an awesome data visulaization iPad app developed by the talented folks at<a href="http://panic.com" class="href"> Panic</a>
      </dd><p></p>

      <dt>How does it work?</dt>
      <dd><p>Fitboard connects your Fitbit to your Status Board using the Fitbit provided <abbr title="Application Programming Interface">API</abbr>.  Fitbit provides your data to Fitboard using the secure, open standard <a href="http://oauth.net" class="href">OAUTH</a>.</p>

      At anytime you can revoke Fitboard's <a href="http://www.fitbit.com/user/profile/apps" class="href">access</a> and remove the stored OAUTH tokens from Fitboard (your graphs will stop working).

    {% if session.fitbit_keys %}
    <p></p>
      <a href="{{ url_for('drop_user', user_id=session.fitbit_keys.0) }}" class="btn btn-small">Delete Fitboard Account</a>
      <a href="http://www.fitbit.com/user/profile/apps" class="btn btn-small">Revoke Fitboard's Access to Fitbit Data</a>
    {% endif %}

    </dd><p></p>
      <dt>Who are you?</dt>
      <dd><a href="http://twitter.com/ctaloi" class="href">Chris Aloi</a> I'm a Telecom Engineer, husband and father who likes Fitbit and Status Board.  The project is a learning experience built to scratch my own itch.</dd> <p></p>


      <dt>Source and Tools</dt>
      <dd>
        <p>The Fitboard source is available on <a href="http://github.com/ctaloi" class="href">Github</a>.  Fork it!</p>
        <p>Written in Python using the awesome microframework <a href="http://http://flask.pocoo.org" class="href">Flask</a> under <a href="http://gunicorn.org" class="href">Gunicorn</a> hosted by <a href="http://heroku.com" class="href">Heroku</a> and a VPS at <a href="http://www.chicagovps.net" class="href">Chicago VPS.</a>
        </p>
    </dd>
  </dl>
</div>



</div>
</div>
</div>
{% endblock %}
