{% extends "base.html" %}
{% set active_page = "charts" %}
{% block charts %}

{% if not session.fitbit_keys %}
You need to be logged in to see charts
<a href="{{ url_for('login') }}" class="">Login</a>
{% else %}

{% set timeseries = [
      ('1d', '1 Day'),
      ('1m', '1 Month'),
      ('3m', '3 Months'),
      ('1y', '1 Year')] %}

{% set individual_charts = [
      ('steps', 'Steps'),
      ('calories', 'Calories'),
      ('distance', 'Distance'),
      ('floors', 'Floors')]
      %}
<hr>
<div class="row-fluid">
  <div class="span2">
    <img src="http://www.fitbit.com/images/profile/defaultProfile_100_male.gif" alt="Image">
  </div>
  <div class="span10">
    <h2>{{ session.user_profile.user.displayName }}'s FitBit Summary</h2>
    <ul>
      <li>Battery Level: {{ session.device_info.0.battery }}</li>
      <li>Last Sync: {{ session.device_info.0.lastSyncTime }}</li>
    </ul>
  </div>
  </div>

<hr>

<div class="row-fluid">
  <div class="span10">
    <h3><span class="fui-arrow-right"></span> Group Charts</h3>
    <h4>Activity Level</h4>
    <div class="btn-toolbar">
      <div class="btn-group">

        {% for period, disp_period in timeseries %}
        <a class="btn btn-info" href="panicboard://?url={{ url_for('get_levelsummary', _external=True, user_id=session.fitbit_keys.0, period=period)}}&panel=graph&sourceDisplayName=fitboard.me">{{ disp_period }}</a>
        {% endfor %}

      </div>
    </div>
  </div>
  </div>

<div class="row-fluid">
  <div class="span5">
    <h3><span class="fui-arrow-right"></span>Individual Charts</h3>

    {% for chart, chart_name in individual_charts %}
    <h4>{{chart_name}}</h4>

    <div class="btn-toolbar">
    <div class="btn-group">

        {% for period, disp_period in timeseries %}
        <a class="btn btn-info" href="panicboard://?url={{ url_for('get_activity', _external=True, user_id=session.fitbit_keys.0, resource=chart, period=period)}}&panel=graph&sourceDisplayName=fitboard.me">{{ disp_period }}</a>
        {% endfor %}

    </div>
    </div>
{% endfor %}
  </div>
  </div>

{% endif %}
{% endblock %}
