<html>
<head>

  {# <link href="{{ url_for('static', filename='sb_tables.css') }}" rel="stylesheet"> #}

<table id="dashboard" border="0">

  <tr>
    <td colspan="2">{{ profile.user.displayName }}'s Fitbit {{ device.0.deviceVersion }}</td>
  </tr>

  <tr>
    <td class="noresize">Battery</td>
    <td>{{ device.0.battery }}</td>
  </tr>

  <tr>
    <td class="noresize">Last Sync</td>
    <td>{{ device.0.lastSyncTime|natural_time|capitalize }}</td>
  </tr>

  <tr>
    <td class="noresize">Steps Today</td>
    <td>{{ steps|natural_number }}</td>
  </tr>

</table>
</html>