{% extends "base.html" %}
{% set active_page = "index" %}
{% block intro %}

<div class="row-fluid">
  <div class="span5 offset1">
    <h1><span class="fui-arrow-right">What?</span></h1>
      <p>Using the Fitbit API you can view your activity on your Statusboard</p>
  </div>

<div class="span5">
  <h1><span class="fui-arrow-right">How?</span></h1>
  <p>To generate graphs from Fitbit data to use in Statusboard you need to login to Fitbit and "allow access".  You can revoke this access at anytime and your personal identifying information is not shared.</p>
</div>
</div>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
    </a>
  </li>
</ul>

{% endblock %}